html,
body,
#root {
  height: 100%;
}
* {
  margin: 0;
  box-sizing: border-box;
  background: transparent;
  padding: 0;
}
.intoSectionMyImage {
  box-shadow: 40px 40px #e5e7eb;
  width: 300px;
  height: 300px;
}
